@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #A9C6D9;
    --cor2: #2EA684;
    --cor3: #735443;
    --cor4: #0D0D0D;
    --fonte01: 'Roboto', sans-serif;
    --fonte02:'DM Serif Display', serif;
}

body{ 
    min-height: 100vh; 
    background-color: var(--cor1);
    font-family: var(--fonte01);
    font-size: 2em;
}

a{
    text-decoration: none; 
    color: var(--cor2); 
    font-weight: bold;
}

a:hover{
    color: var(--cor1); 
    background-color: var(--cor3);
     border-radius: 2px; 
     transition-duration: 1s; 
     padding: 5px;
}

/*HEADER*/
header{
    background-color: var(--cor4); 
    color: white;
    text-align: center;}

header h1{
    font-variant: small-caps; 
    padding-top: 40px; 
    font-size: 3vw;
    font-family: var(--fonte02);
}

header p{
    font-size: 1.5em; 
    padding-bottom: 40px; 
    margin-top: 10px;
}

/*SECTION*/
section{
    padding: 10vh 10vh;
    padding-left: 30px; 
    line-height: 50px;
}

/*NORMAL*/
.normal{
    background-color:var(--cor2)
}
.normal p{
    font-size: 1.5em;
}

/*IMAGEM*/
.imagem{
    background-color:var(--cor3); 
    background: #735443 url(imagens/background002.jpg) center center no-repeat fixed; 
    background-size: cover;}

.imagem p{background-color:#0d0d0d67; 
    width: 300px; padding: 10px 0px 10px 0px; 
    color: white; 
    font-size: 1.5em;}

/*FOOTER*/
footer{
    background-color: var(--cor4); 
    padding: 20px;}

footer p{color: white; 
    text-align: center; 
    font-size: 1.1em;};